.button {
  padding: 10px 76px;
  font-size: 16px;
  background-color: $button-background-color-hover;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: $font-color-4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  &--footer {
    padding-right: 28px;
    padding-left: 42px;
  }
  &--banner {
    padding-left: 42px;
    padding-right: 41px;
  }
}

