.menu {
  display: flex;
  align-items: center;
  gap: 46px;
  margin-left: 93px;
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $font-color-1;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $font-color-2;
      stroke: $font-color-2;
    }
    &--is-active {
      position: relative;
    }
    &--is-active::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $icon-background-color-hover;
      border-radius: 2px;
      margin-top: 27px;
    }
    &--hover-color {
      color: $font-color-2;
    }
  }
}
