.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: block;
  width: 528px;
  padding: 8px;
  background-color: $background-color-1;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &__close-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color-1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-left: 482px;
  }
  &__close-btn-icon {
    stroke: $font-color-1;
    fill: $font-color-1;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 30px;
  }
  &__btn {
    margin-top: 22px;
    margin-bottom: 32px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.modal__form-item label:focus-within,
.modal__input:focus-within,
.form__item label:hover {
  border-color: $button-background-color-hover;
  fill: $button-background-color-hover;
  stroke: $button-background-color-hover;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
