.team-section {
  background-color: $background-color-3;
  @media screen and (max-width: 479px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      gap: 30px;
    }
  }
  
}
