.team-section {
  background-color: $background-color-3;
  &__list {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  &__item {
    background-color: $background-color-1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
      0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    padding-bottom: 30px;
  }
  &__item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $font-color-1;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  &__item-description {
    line-height: 1.18;
    text-align: center;
    color: $font-color-3;
  }
}
