.trump {
  display: flex;
  flex-wrap: wrap;
  &__icon {
    width: 100%;
    background-color: $background-color-3;
    padding: 25px 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  &__title {
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $font-color-1;
    margin-bottom: 10px;
  }
  &__description {
    width: 100%;
    font-size: 14px;
    line-height: 1.71;
    color: $font-color-3;
    letter-spacing: 0.03em;
  }
}
