$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-color-1: #212121;
$font-color-2: #2196f3;
$font-color-3: #757575;
$font-color-4: #ffffff;
$background-color-1: #ffffff;
$background-color-2: #2f303a;
$background-color-3: #f5f4fa;
$button-background-color: #f5f4fa;
$button-background-color-hover: #2196f3;
$icon-color-1: #afb1b8;
$icon-color-hover: #ffffff;
$icon-background-color-hover: #2196f3;
